<div style="display: none">
  <!-- inject:svg --><svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="next" viewBox="0 0 22.121 41.414">
      <title>next</title><path d="M1.414 0l20.707 20.707L1.414 41.414 0 40l19.293-19.293L0 1.414 1.414 0z"/>
    </symbol>
    <symbol id="prev" viewBox="0 0 22.121 41.414">
      <title>prev</title><path d="M20.707 41.414L0 20.707 20.707 0l1.414 1.414L2.828 20.707 22.121 40l-1.414 1.414z"/>
    </symbol></svg><!-- endinject -->
</div>